/*======================
   01. Google fonts
========================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;800;900&display=swap');

@font-face{
	font-family: 'Expel_Extended_Bold';
	src: url(../webfonts/Expel_Extended_Bold.ttf);
}

/*======================
   02. Basic css
========================*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
    font-size: 16px;
    color: #494949;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
}

ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: bold;
}

h5{
	font-weight: 600;
    color: #333;
    line-height: 1.4;
    font-size: 20px;
    line-height: 1.3;
}

.title{
	font-size: 30px;
    font-weight: 600;
    color: #000000;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
video:focus{
	outline: none;
}

::-moz-selection{
	background-color: #020202;
	color: #ffffff;
}

::selection{
	background-color: #020202;
	color: #ffffff;
}

/*Proloader START CSS*/
.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 9999;
	background: #fff;
}

.loader_34 {
	/* Preloader */
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.loader_34 .ytp-spinner {
	/* Spinner Container */
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	margin-left: -32px;
	z-index: 18;
	pointer-events: none;
}

.loader_34 .ytp-spinner .ytp-spinner-container {
	pointer-events: none;
	position: absolute;
	width: 100%;
	padding-bottom: 100%;
	top: 50%;
	left: 50%;
	margin-top: -50%;
	margin-left: -50%;
	animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
	-webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}

.loader_34 .ytp-spinner-rotator {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
	animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-left {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

.loader_34 .ytp-spinner-right {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.loader_34 .ytp-spinner-left {
	/* Position inside Container*/
	right: 50%;
}

.loader_34 .ytp-spinner-right {
	/* Position inside Container*/
	left: 50%;
}

.loader_34 .ytp-spinner-circle {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	width: 200%;
	height: 100%;
	border-style: solid;
	/* Spinner Color */
	border-color: #a40700 #a40700 transparent;
	border-radius: 50%;
	border-width: 6px;
}

.loader_34 .ytp-spinner-left .ytp-spinner-circle {
	left: 0;
	right: -100%;
	border-right-color: transparent;
	-webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
	animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-right .ytp-spinner-circle {
	left: -100%;
	right: 0;
	border-left-color: transparent;
	-webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
	animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}


/* Preloader Animations */

@-webkit-keyframes ytp-spinner-linspin {
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes ytp-spinner-linspin {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes ytp-spinner-easespin {
	12.5% {
		-webkit-transform: rotate(135deg);
	}
	25% {
		-webkit-transform: rotate(270deg);
	}
	37.5% {
		-webkit-transform: rotate(405deg);
	}
	50% {
		-webkit-transform: rotate(540deg);
	}
	62.5% {
		-webkit-transform: rotate(675deg);
	}
	75% {
		-webkit-transform: rotate(810deg);
	}
	87.5% {
		-webkit-transform: rotate(945deg);
	}
	to {
		-webkit-transform: rotate(1080deg);
	}
}

@keyframes ytp-spinner-easespin {
	12.5% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	25% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	37.5% {
		-webkit-transform: rotate(405deg);
		transform: rotate(405deg);
	}
	50% {
		-webkit-transform: rotate(540deg);
		transform: rotate(540deg);
	}
	62.5% {
		-webkit-transform: rotate(675deg);
		transform: rotate(675deg);
	}
	75% {
		-webkit-transform: rotate(810deg);
		transform: rotate(810deg);
	}
	87.5% {
		-webkit-transform: rotate(945deg);
		transform: rotate(945deg);
	}
	to {
		-webkit-transform: rotate(1080deg);
		transform: rotate(1080deg);
	}
}

@-webkit-keyframes ytp-spinner-left-spin {
	0% {
		-webkit-transform: rotate(130deg);
	}
	50% {
		-webkit-transform: rotate(-5deg);
	}
	to {
		-webkit-transform: rotate(130deg);
	}
}

@keyframes ytp-spinner-left-spin {
	0% {
		-webkit-transform: rotate(130deg);
		transform: rotate(130deg);
	}
	50% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	to {
		-webkit-transform: rotate(130deg);
		transform: rotate(130deg);
	}
}

@-webkit-keyframes ytp-right-spin {
	0% {
		-webkit-transform: rotate(-130deg);
	}
	50% {
		-webkit-transform: rotate(5deg);
	}
	to {
		-webkit-transform: rotate(-130deg);
	}
}

@keyframes ytp-right-spin {
	0% {
		-webkit-transform: rotate(-130deg);
		transform: rotate(-130deg);
	}
	50% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	to {
		-webkit-transform: rotate(-130deg);
		transform: rotate(-130deg);
	}
}

/*Hamburger-menu START CSS*/
.hamburger-menu {
	cursor: pointer;
	position: absolute;
	right: 0px;
	display: none;
	z-index: 999;
	bottom: 17px;
}

.hamburger-menu span {
	background: #ffffff;
	width: 30px;
	height: 3px;
	display: block;
	margin: 5px 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.hamburger-menu:hover .line-top {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.hamburger-menu:hover .line-bottom {
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.hamburger-menu .line-top.current {
	-webkit-transform: translateY(200%) rotate(135deg);
	-ms-transform: translateY(200%) rotate(135deg);
	transform: translateY(200%) rotate(135deg);
}

.hamburger-menu .line-center.current {
	opacity: 0;
}

.hamburger-menu .line-bottom.current {
	-webkit-transform: translateY(-325%) rotate(-135deg);
	-ms-transform: translateY(-325%) rotate(-135deg);
	transform: translateY(-325%) rotate(-135deg);
}

/*ofcanvas-menu*/
.ofcavas-menu {
	position: absolute;
	width: 100%;
	height: auto;
	background: #a40700;
	z-index: 1;
	top: calc(100% - 1px);
	display: none;
	left: 0;
	-webkit-transition: min-height .3s;
	-o-transition: min-height .3s;
	transition: min-height .3s;
	text-align: center;
	overflow: hidden;
}

.ofcavas-menu a {
	color: #ffffff;
	margin-top: 10px;
}

.ofcavas-menu ul {
	line-height: 22px;
	padding: 15px 0;
}

header {
	width: 100%;
	background-image: url(../img/menu_bg.jpg);
    background-size: cover;
    background-position: left top;
    background-color: #a40700;
    padding: 10px 0;
}

#menu {
	text-align: right;
}

.logo{
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.logo:hover{
	opacity: 0.6;
}

#menu li {
	display: inline-block;
}

#menu li a {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: #ffffff;
    line-height: 65px;
    padding: 0 13px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

#menu>li>a.active,
#menu>li>a:hover {
	color: #000000;
}

.dropdown-toggle{
	border: none;
	background-color: transparent;
	color: #ffffff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	line-height: 65px;
	font-size: 15px;
	padding: 0 13px;
}

.dropdown-toggle:hover{
	color: #000000;
}

.dropdown-toggle:after{
	display: none;
}

.dropdown-toggle span{
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 2px;
    background-color:#a40700;
    margin-left: 5px;
}

.dropdown-toggle span::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    width: 0;
    height: 0;
    margin-top: 4px;
    border-style: solid solid solid none;
    border-width: 5px 5px 5px medium;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-color: #a40700;
}

.dropdown-menu{
	padding: 15px;
    width: 260px;
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.1);
    box-shadow: 0 2px 7px rgba(0,0,0,0.1);
    border-radius: 0;
    border: none;
}

.input_box{
	width: 100%;
    font-size: 14px;
    line-height: 1.8;
    padding: 6px 12px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cart_box{
	width: 350px;
	padding: 20px;
}

.theme_text{
	color: #a40700;
}

.header_bottom{
	padding: 10px 0;
}

.header_bottom h3{
	font-size: 38px;
    font-weight: 800;
    font-family: 'Libre Franklin', sans-serif;
}

/*hero area*/
.hero_area{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000000;
}
.hero_area h2,
.hero_area h1{
	font-family: 'Expel_Extended_Bold';
	line-height: 1;
	color: #ffffff;
}
.hero_area h1{
	font-size: 100px;
}
.hero_area h2 {
	font-size: 76px;
}
.hero_area .button{
	font-size: 27px;
	padding: 10px 45px 10px 45px;
}

.button{
    font-weight: 500;
    border-radius: 3px;
    color: #ffffff !important;
    background-color: #a40700;
    padding: 12px 24px;
    font-size: 15px;
    line-height: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
}

.button:hover{
	-webkit-box-shadow: 0 0 4em rgba(0,0,0,0.3) inset;
	        box-shadow: 0 0 4em rgba(0,0,0,0.3) inset;
}

.hero_area p{
	font-weight: 600;
}

/*package area*/
.package_area{
	padding-bottom: 40px;
}
.package_box{
	padding: 0 8px;
}

/*dianetics_area*/
.dianetics_area{
	padding: 30px 0;
	background-color: #020202;
}

.dianetics_area .item h2{
	font-size: 36px;
}

.dianetics_area .item p{
	font-size: 28px;
}

.owl-nav button{
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 10px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.owl-nav button.owl-next{
	left: auto;
	right: 10px;
}

/*video area*/
.video_area{
	padding: 40px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
}

.overlay .play{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.overlay .play i{
	font-size: 100px;
    color: #fff;
    opacity: .8;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.overlay:hover .play i{
	opacity: 1;
}

/*quote area*/
.quote_area{
	background-repeat: repeat;
	background-size: cover;
	padding: 80px 0;
}

.quote_area h2{
	font-size: 32px;
	line-height: 40px;
	font-weight: 400;
	color: #ffffff;
}

/*testimonials area*/
.testimonial_area{
	padding: 40px 0 50px;
}
.text-comment{
	font-size: 18px;
	line-height: 28px;
}

.testimonial_area img{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin-right: 15px;
	-o-object-fit: cover;
	   object-fit: cover;
}

.testimonial_area .media .media-body p.theme_text{
	font-weight: 600;
	line-height: 1.5;
}

.testimonial_area .jop{
	font-size: 0.85em;
	font-family: 'Roboto Slab', serif;
	line-height: 1.2em;
	font-weight: 400;
}

/*social area*/
.social_area{
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0;
	z-index: 1;
}

.social_area::before{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}

.social_area .social_icons a{
	font-size: 30px;
	display: inline-block;
	color: #cecece;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	margin: 0 6px;
}

.social_area .social_icons a:hover{
	color: #a40700;
}

/*footer*/
.widget-title {
    line-height: 1;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    padding-left: 15px;
    margin: 0 0 20px;
    text-transform: uppercase;
    border-left: 2px solid #a40700;
}

.footer_top{
	padding: 10px 0 25px;
	background-color: #222;
}

.footer_top a,
.footer_top p{
	font-size: 13px;
}

.footer_top a{
	color: #ffffff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.footer_top a:hover{
	color: #a40700;
}

.footer_top ul li a{
	display: block;
	padding: 8px 0;
}

.footer_top p{
	color: #c1c1c1;
}

.footer_bottom {
    background-color: #1B1B1B;
    padding: 23px 0 20px 0;
    font-size: 12px;
    line-height: 1;
    color: #757575;
}

/*return-to-top START CSS*/
.back-to-top {
	font-size: 24px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: none;
	position: fixed;
	bottom: 80px;
	right: 20px;
	border-radius: 3px;
	background-color: rgba(0,0,0,1);
	z-index: 1000;
}

.back-to-top:hover{
	background-color: #a40700;
}

.back-to-top i {
	color: #fff;
}