/* @import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Mirza:wght@400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"); */

/* **********************************global ************************* */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Tajawal", sans-serif; */
}
